<p>todo-list works!</p>
    <p>
        <label>Texte : <input value="modify value" type="text"></label>
    </p>
    <p>
        <label>Faite : <input value="false" type="checkbox"></label>
    </p>
    <p>
        <button class="button" (click)="addTodo(todo)">Add task</button>
    </p>
<div *ngFor="let todo of todos">
    <p>
        <li [style.color]=blue >
            <input value="{{todo.faite}}" type="checkbox" [checked]="todo.faite == true">
            La tache " {{todo.num}} " : {{todo.txt}}
        <button class="button" (click)="deleteTodo(todo.num)">Delete task {{todo.num}}</button>
        </li>
    </p>
</div>
