/* You can add global styles to this file, and also import other style files */
/* myStyle :{
'fontSize' = 50px
} */


.button {
    background-color: rgb(152, 152, 189);
    color: black;
    border: 2px solid #c4e7c5;
  }

.myClass {
  width: 500px;
  padding: 10px;
  border: 2px solid lightgray;
  margin: 0;
}